@import '../node_modules/reset-css/sass/reset';

$light: rgba(230, 232, 230, 1);
$bluepurple: rgba(91, 97, 138, 1);
$dark: rgba(54, 49, 31, 1);
$medium: rgba(89, 84, 75, 1);
$blue: rgba(121, 169, 209, 1);

$bodyFont:'Josefin Sans', sans-serif;
$headerFont:'Luckiest Guy', cursive;

*{
  h1, h2, h3, h4, p{
    color: $light;
    font-family: $bodyFont;
    font-size: 62.5%;
  
  }
  h1{
    font-family: $headerFont;
    font-size: 3.6rem;
  }
  h2{
    font-size:1.6rem;
    margin-top:0;
}
p{
  font-size: 1.2rem;
  color: $bluepurple
}
}

.container{
  margin: auto;
  display:flex;
  flex-direction: column;
  max-width: 100%;
  height:100vh;
  border: 1px solid slateblue;
  box-sizing: border-box;
  background-color: $bluepurple
}