.noteBox{
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 2%;
  width: 175px;
  height: 175px;
  border: 2px solid rgba(230, 232, 230, 1);
  background-color:  rgba(230, 232, 230, 1);
  border-radius: 2%;
  box-shadow: 10px 10px;
h3{
color:purple;
text-decoration: underline;
font-size: 1.2rem;
}

}


  