.note{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 2%;
  width: 175px;
  height: 175px;
  border: 2px solid rgba(230, 232, 230, 1);
  background-color:  rgba(230, 232, 230, 1);
  border-radius: 2%;
  box-shadow: 10px 10px;
  
}